<a href="https://colab.research.google.com/github/aneesh1308/A/blob/main/PDS_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  stcount = 0
  def __init__(self, regno, name, dob):
    self.regno = regno
    self.name = name
    self.dob = dob
    Student.stcount += 1
  def displaycount(self):
    print("total student ",Student.stcount)
  def displaystudent(self):
    print("Reg no:",self.regno, "\nName:",self.name, "\nDate of birth:",self.dob)
st1 = Student(142220243008, "Ani", "08/03/2002")
st1.displaycount()
st1.displaystudent()
st2 = Student(142220243006,"Anand","03/08/2002")
st2.displaycount()
st2.displaystudent()

st1.mark1 = 78
st1.mark2 = 99

st2=stud(142220243006,"Anand","03/08/2002")
st2.displaycount()
st2.displaystudent()

st1.mark1 = 78
st1.mark2 = 99
print("Student name:",st1.name,"\nMark 1:",st1.mark1,"Mark 2",st1.mark2)

st2.mark1 = 88
st2.mark2 = 85
print("Student name:",st2.name,"\nMark 1:",st2.mark1,"Mark 2",st2.mark2)

print(hasattr(st1, 'mark1'))
print(getattr(st2, 'mark1'))

total student  1
Reg no: 142220243008
Name: Ani
Date of birth: 08/03/2002
total student  2
Reg no: 142220243006
Name: Anand
Date of birth: 03/08/2002
Total students  8
Reg.No: 142220243006
Name: Anand
Date of Birth: 03/08/2002
Student name: Ani
Mark 1: 78 Mark 2 99
Student name: Anand
Mark 1: 88 Mark 2 85
True
88

In [ ]:
class stud:
    count=0
    def __init__(self,regno,name,dob):
        self.regno=regno
        self.name=name
        self.dob=dob
        stud.count+=1
    def displaycount(self):
        print("Total students ",stud.count)
    def displaystudent(self):
        print("Reg.No:",self.regno,"\nName:",self.name,"\nDate of Birth:",self.dob)
st1=stud(142220243005,"Akash","23/07/2003")
st1.displaycount()
st1.displaystudent()
st2=stud(142220243006,"Anand","03/08/2002")
st2.displaycount()
st2.displaystudent()

st1.mark1 = 78
st1.mark2 = 99
print("Student 1 Mark 1:",st1.mark1,"Student 1 Mark 2",st1.mark2)

st2.mark1 = 88
st2.mark2 = 85

print(hasattr(st1, 'mark1'))
print(getattr(st2, 'mark1'))

Total students  1
Reg.No: 142220243005
Name: Akash
Date of Birth: 23/07/2003
Total students  2
Reg.No: 142220243006
Name: Anand
Date of Birth: 03/08/2002
Student 1 Mark 1: 78 Student 1 Mark 2 99
True
88